<div class="header-search dropdown-toggle" data-toggle="dropdown"></div>
<div id="search" class="input-group">
  
  <span class="input-group-btn">
    <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
    <button type="button" class="btn btn-default btn-lg">{{ text_search }}
    	<span class="search_button"><i class="fa fa-search" aria-hidden="true"></i></span>
    </button>
  </span>
</div>